body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:url(https://www.toptal.com/designers/subtlepatterns/patterns/seigaiha.png);
}

.title {
    margin: 3em;
    text-align: center;
}
